@font-face {
    font-family: 'scd';
    src: url('../assets/fonts/SCDream5.otf') format('truetype');
}



header {
    width: 100%; 
    height:50px;
    margin: 0; 
    background-color: white; 
    padding: 7.5px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: relative; 
    top: 0; 
    left: 0; 
    z-index: 100;
    align-items: center; 
    justify-content: space-between; 
    display: flex; 
}

header a {
    height: 35px;
}


#header-logo {
    height: 35px; 
    margin-left:20px;
    cursor: pointer;
}

.header-link {
    text-decoration: none; 
    color: inherit; 
}


.header-link h3 {
    margin-right: 30px;
    transition: box-shadow 0.3s ease; 
    font-size:20px;
}

.header-link:hover h3 {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

header .login {
    background-color: transparent;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    padding: 13px;
    box-shadow: none;
  }
header .login:hover {
    background-color: transparent;
    box-shadow: none;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');  

*{
    box-sizing: border-box; 
    outline: none; 
}

body{
    font-family: 'scd', sans-serif;
    font-size:14px;
    background-color: #f5f6f7;
    line-height: 1.5em;
    color : #222;
    margin: 0;
}

a{
    text-decoration: none;
    color: #222;
}

.btn {
    cursor: pointer;
}

.inner {
    width: 100%;
}

.member{
    width: 440px;
    margin: auto; 
    padding: 50px 20px;
    margin-bottom: 20px;
    min-height: calc(100vh - 50px); 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member .logo{
    display: block;
    margin : 0 auto 40px auto;
    text-align: center;
}

.member .field{
    margin :5px 0;
    width: 100%;
}

.member b{
    display: block; 
    margin-bottom: 5px;
}

.member input:not(input[type=radio]),.member select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'scd' !important;
}

.member input[type=button],
.member input[type=submit]{
background-color: #454997 ;
color:#fff
}

.member input:focus, .member select:focus{
    border: 1px solid red;
}

.field.birth div{ 
    display: flex;
    gap:10px; 
}

.member .code_wrap {
    position: relative;
    width: 100%;
}
.member .code_wrap .timer-container {
    position: absolute;
    top:42%;
    right: 13px;
    font-size: 13px;
    color: red;
    transform: translate(0,-50%);
}
.member .code_wrap input {
    width: 100%;
    padding-right: 50px;
}

.field.tel-number div input:nth-child(1){
    flex:2;
}

.field.tel-number div input:nth-child(2){
    flex:1;
}

.field.gender div{
    border: 1px solid #dadada;
    padding: 15px 5px;
    background-color: #fff;
}

.placehold-text{
    display: block; 
    position:relative;
}


.userpw{
    background:url(./images/images2/icon-01.png) no-repeat center right 15px;
    background-size: 20px;
    background-color: #fff;
}

.userpw-confirm{
    background:url(./images/images2/icon-02.png) no-repeat center right 15px;
    background-size: 20px;
    background-color: #fff;
}

.btn-custom {
    background-color: #454997 ; 
    color: white; 
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'scd' !important; 
    border: none;
}

.error-message {
    margin-bottom: 10px;
    display: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.5px;
    color: #ff003e;
    vertical-align: middle;
    margin-left: 3px;
}

.member-footer {
    text-align: center;
    font-size: 10.5px;
    margin-top: 20px;
}

.member-footer div a:hover{
    color:#454997;
    text-decoration: none;
}

.member-footer div a:after{
    content:'|';
    font-size: 10px;
    color:#bbb;
    margin-right: 5px;
    margin-left: 7px;
    display: inline-block;
    transform: translateY(-1px);

}

.member-footer div a:last-child:after{
    display: none;
}

@media (max-width:768px) {
    .member{
        width: 100%;
    }
}
   
#modify-id {         
  display: none;
}

.timer-container {  
  text-align: right;
  color: red;
  display: none; 
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}